body {
  margin: 0;
  height: 100%;
  overflow: auto;
  font-family: "Sen", sans-serif;
}

* {
  font-family: "Sen", sans-serif;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 20px 0;
}

.search-bar {
  border-radius: 25px;
  padding: 10px 20px;
  width: 260px;
  border-style: none;
}

#search-icon {
  margin-top: -6px;
  margin-left: -40px;
}

.unit-button {
  border: none;
  border-radius: 25px;
  background-color: white;
  color: black;
  font-size: 20px;
  padding: 7px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.unit-button:hover {
  transform: scale(1.2);
}

.suggestion-list {
  position: absolute;
  border-radius: 25px;
  width: 260px;
  background-color: white;
  z-index: 10;
  overflow-y: auto;
  list-style: none;
  padding: 10px;
}

.suggestion-list li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  transition: transform 0.2s ease;
}

.suggestion-list li:last-child {
  border-bottom: none;
}

.suggestion-list li:hover,
.header-details h3:hover,
#temp-text:hover {
  transform: translate(10px, 0);
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* Video */
  z-index: 1;
  position: relative;
}

.column-1 {
  position: relative;
  color: white;
  margin: auto;
}

.weather-container {
  height: 620px;
  width: 750px;
  background-color: rgb(0, 0, 0, 0.2);
  border-radius: 25px;
  padding: 30px;
}

.header-details {
  display: flex;
  align-items: center;
}

.header-details h3 {
  transition: transform 0.2s ease;
}

.header-details img {
  margin-right: 10px;
  margin-bottom: 5px;
}

.weather-details {
  top: 30px;
  left: 50px;
  color: white;
  z-index: 2;
  padding: 20px;
}

.weather-details p {
  margin: 10px 0;
  font-size: 18px;
}

#temp {
  font-size: 120px;
  margin-left: 400px;
  transition: transform 0.3s ease;
}

#temp:hover {
  transform: scale(1.2);
}

#bonus-temp {
  margin-left: 400px;
}

#temp-text {
  font-size: 45px;
  margin-top: 10px;
  transition: transform 0.3s ease;
}

#alert-description {
  color: rgb(180, 178, 178);
  font-size: 15px;
  margin-left: 30px;
}

.weather-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  background-color: rgb(0, 0, 0, 0.2);
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.weather-icons img {
  margin-right: 5px;
  margin-bottom: 3px;
}

.weather-icons small {
  margin: 25px auto;
  text-align: center;
  transition: transform 0.3s ease;
}

.weather-icons small:hover {
  transform: scale(1.2);
}

.weather-icons span {
  /* color: rgb(180, 178, 178); */
  color:rgb(236, 234, 234);
  font-size: 12px;
}

.updated-info {
  margin-top: 20px;
  text-align: right;
  color: rgb(180, 178, 178);
}

.column-2 {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  padding: 20px;
  color: white;
  width: 500px;
}

.hour {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.hour:hover,
.week:hover {
  transform: scale(0.9);
}

.hourly-forecast-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.hourly-forecast {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.arrow {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  padding: 10px;
  position: absolute;
}

.arrow:hover {
  background-color: white;
  color: black;
  transition: 0.5s ease-in-out;
}

.left-arrow {
  left: -25px;
}

.right-arrow {
  right: -25px;
}

.week {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  transition: transform 0.3s ease;
}

.weekly-forecast {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: nowrap;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  min-width: 100px;
  gap: 10px;
  margin-top: 25px;
}

.weekly-table {
  width: 100%;
  border-collapse: collapse;
}

#weekly-avg {
  margin-top: 15px;
}

footer {
  padding: 10px;
  text-align: right;
  margin-right: 40px;
  color: rgb(180, 178, 178);
  transition: transform 0.3s ease;
}
footer:hover {
  transform: translateY(-10px);
}

/* MOBILE STYLES */

@media (max-width: 768px) {
  .search-container {
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
  }

  .search-bar {
    width: 220px;
  }

  .unit-button {
    font-size: 18px;
    padding: 5px;
  }

  .weather-container {
    width: 100%;
    height: auto;
    padding: 20px;
    text-align: center;
  }

  #temp {
    font-size: 80px;
    margin-left: 0;
    text-align: center;
  }

  #bonus-temp {
    margin-left: -10px;
  }

  #temp-text {
    font-size: 30px;
    text-align: center;
    padding: 50px 0 10px 0;
  }

  .header-details {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .suggestion-list {
    width: 220px;
  }

  .column-1,
  .column-2 {
    width: 100%;
    margin: 10px 0;
  }

  .hourly-forecast-wrapper {
    overflow: hidden;
  }

  .arrow {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    padding: 5px;
    z-index: 2;
  }

  .left-arrow {
    left: 5px;
  }

  .right-arrow {
    right: 5px;
  }

  .hourly-forecast,
  .weekly-forecast {
    flex-wrap: nowrap;
  }

  .hour {
    min-width: 80px;
  }

  .weekly-table {
    font-size: 12px;
  }

  footer {
    margin-right: 20px;
    font-size: 14px;
  }
}
