body {
  margin: 0;
  height: 100%;
  overflow: auto;
  font-family: "Sen", sans-serif;
}

* {
  font-family: "Sen", sans-serif;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.suggestion-list li:hover,
.header-details h3:hover,
#temp-text:hover {
  transform: translate(10px, 0);
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* Video */
  z-index: 1;
  position: relative;
}
